<!DOCTYPE html>
<html>
	<head>
		<title>Headlines</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<style>
			#upper {
				background: gold;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row" id="upper">
					<!-- Start weather section -->
					<section id="weather" class="col-sm-6">
						<h2>Current weather</h2>
						<form>
							<input type="text" name="city" placeholder="Weather search">
							<input type="submit" value="Submit" class="btn btn-primary">
						</form>
						<p>City: <strong>{{weather.city}}, {{weather.country}}</strong></p>
						<p>{{weather.description}}  |  {{weather.temperature}}&#8451;</p>
					</section>
					<!-- End weather section -->
					
					<!-- Currency section -->
					<section id="currency" class="col-sm-6">
						<h2>Currency</h2>
						<form>
							from:
							<select name="currency_from">
								{% for currency in currencies %}
									<option value="{{currency}}" {{'selected="selected"' if currency_from==currency}}>{{currency}}</option>
								{% endfor %}
								
							</select>
							to:
							<select name="currency_to">
								{% for currency in currencies %}
									<option value="{{currency}}" {{'selected="selected"' if currency_to==currency}}>{{currency}}</option>
								{% endfor %}
							</select>
							<input type="submit" value="Submit" class="btn btn-primary">
						</form>
						1 {{currency_from}} = {{currency_to}} {{rate}}
					</section>
					<!-- End currency section -->
			</div><!-- End row -->
		
			<div class="row">
					<!-- Start news section -->
					<section id="news" class="col-sm-12">
						<h1>Headlines</h1>
						<form>
							<input type="text" name="publication" placeholder="Publication search">
							<input type="submit" value="Submit">
						</form>
						{% for article in articles %}
						<strong><a href="{{article.link}}">{{article.title}}</a></strong><br>
						<em>{{article.published}}</em><br>
						
						<p>{{article.summary}}</p>
						<hr>
						{% endfor %}
					</section>
					<!-- End news section -->
			</div><!-- End row -->
		</div><!-- End container -->
	</body>
</html>
